<form class="form-inline form-sm" method="get">
    <input name="filterInv" class="form-control mr-sm-2" placeholder="Инвентарный номер" aria-label="Search" value="@Model.RouteValue["FilterInv"]">
    <input name="filterName" class="form-control mr-sm-2" placeholder="Наименование" aria-label="Search" value="@Model.RouteValue["FilterName"]">
    <input name="filterOffice" class="form-control mr-sm-2" placeholder="Офис" aria-label="Search" value="@Model.RouteValue["FilterOffice"]">
    <input name="filterRegion" class="form-control mr-sm-2" placeholder="Регион" aria-label="Search" value="@Model.RouteValue["FilterRegion"]">
    <input name="filterCat" class="form-control mr-sm-2" placeholder="Категория ТМЦ" aria-label="Search" value="@Model.RouteValue["FilterCat"]">
    <input name="filterType" class="form-control mr-sm-2" placeholder="Тип ТМЦ" aria-label="Search" value="@Model.RouteValue["FilterType"]">
    <button class="btn btn-mdb-color btn-sm" type="submit"><i class="fas fa-search fa-2x"></i> </button>
</form>
<hr />