@model inventory_dot_core.Models.RelHardwareEmployee
@using inventory_dot_core.Classes

@{
    ViewData["Title"] = $"{Dictionary.frasesDictionary["Delete"]} оборудование {Model.RelheWhard.WhardName}";
}

<h1>@Dictionary.frasesDictionary["Delete"]</h1>

<h3>@Dictionary.frasesDictionary["DeleteConfirm"]</h3>
<div>
    <h4>Удаление оборудования с РМ сотрудника</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RelheEmployee)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RelheEmployee.EmployeeFullFio)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RelheWhard)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RelheWhard.WhardName)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="RelheId" />
        <input type="submit" value="Удалить" class="btn btn-danger btn-sm"
               formmethod="post"
               asp-route-filter="@ViewBag.Filter"
               asp-route-sortExpression="@ViewBag.SortExpression"
               asp-route-page="@ViewBag.Page"
               asp-route-employee_id="@ViewBag.EmployeeId"/> |
        <a class="btn btn-mdb-color btn-sm" asp-action="Index"
           asp-route-filter="@ViewBag.Filter"
           asp-route-sortExpression="@ViewBag.SortExpression"
           asp-route-page="@ViewBag.Page"
           asp-route-employee_id="@ViewBag.EmployeeId">
            Назад
        </a>
    </form>
</div>
