@model inventory_dot_core.Models.Positions
@using inventory_dot_core.Classes

@{
    ViewData["Title"] = $"{Dictionary.frasesDictionary["Delete"]} должность {Model.PositionName}";
}


<h1>@Dictionary.frasesDictionary["Delete"]</h1>

<h3>@Dictionary.frasesDictionary["DeleteConfirm"]</h3>
<div>
    <h4>Должность</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PositionName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PositionName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PositionNotes)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PositionNotes)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PositionDepartment)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PositionDepartment.DepartmentName)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="PositionId" />
        <input type="submit" value="Удалить" class="btn btn-outline-danger"
               formmethod="post"
               asp-route-filter="@ViewBag.Filter"
               asp-route-sortExpression="@ViewBag.SortExpression"
               asp-route-page="@ViewBag.Page" /> |
        <partial name="_BackButton" />
    </form>
</div>

