@model inventory_dot_core.Models.Houses

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Houses</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HousesName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HousesName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HousesRem)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HousesRem)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HousesRegion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HousesRegion.RegionName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.HousesId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
