@model inventory_dot_core.Models.WealthTypes
@using inventory_dot_core.Classes

@{
    ViewData["Title"] = $"{Dictionary.frasesDictionary["Delete"]} тип МЦ: {Model.WtypeName}";
}

<h1>@Dictionary.frasesDictionary["Delete"]</h1>

<h3>@Dictionary.frasesDictionary["DeleteConfirm"]</h3>
<div>
    <h4>Тип МЦ</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.WtypeName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.WtypeName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.WtypeNotes)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.WtypeNotes)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="WtypeId" />
        <input type="submit" value="Удалить" class="btn btn-outline-danger"
               formmethod="post"
               asp-route-filter="@ViewBag.Filter"
               asp-route-sortExpression="@ViewBag.SortExpression"
               asp-route-page="@ViewBag.Page" /> |
        <partial name="_BackButton" />
    </form>
</div>
