@model inventory_dot_core.Models.WealthHardware
@using inventory_dot_core.Classes

@{
    ViewData["Title"] = $"{Dictionary.frasesDictionary["Delete"]} оборудование {Model.WhardName}";
}

<h1>@Dictionary.frasesDictionary["Delete"]</h1>

<h3>@Dictionary.frasesDictionary["DeleteConfirm"]</h3>
<div>
    <h4>Оборудование</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.WhardInumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.WhardInumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.WhardFnumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.WhardFnumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.WhardName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.WhardName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.WhardRegion)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.WhardRegion.RegionName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.WhardWcat)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.WhardWcat.Wcatname)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.WhardWtype)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.WhardWtype.WtypeName)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="WhardId" />
        <input type="submit" value="Удалить" class="btn btn-outline-danger"
               formmethod="post"
               asp-route-filter="@ViewBag.Filter"
               asp-route-sortExpression="@ViewBag.SortExpression"
               asp-route-page="@ViewBag.Page" /> |
        <partial name="_BackButton" />
    </form>
</div>
