@using inventory_dot_core.Classes
@model inventory_dot_core.Classes.Paging.PagingList<inventory_dot_core.Models.WealthHardware>

@{
    ViewData["Title"] = "Оборудование";
}

<partial name="_FilterPartial" />
-->


<h1>Оборудование</h1>
<p>
    <partial name="_CreateButton" />
</p>
<partial name="_MultiFilterPartial" />
<table class="table">
    <thead>
        <tr>
            <th>

            </th>
            <th>

            </th>
            <th>

            </th>
            <th>

            </th>
            <th>

            </th>
            <th>

            </th>
            <th></th>
        </tr>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.WhardInumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WhardName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WhardOffice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WhardRegion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WhardWcat)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WhardWtype)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.WhardInumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.WhardName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.WhardOffice.OfficeName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.WhardRegion.RegionName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.WhardWcat.Wcatname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.WhardWtype.WtypeName)
                </td>
                <td>
                    <a asp-action="Edit" class="btn btn-mdb-color btn-sm"
                       asp-route-id="@item.WhardId"
                       asp-route-page="@Model.PageIndex"
                       asp-route-filter="@ViewBag.Filter"
                       asp-route-sortExpression="@ViewBag.SortExpression"><i class="fas fa-pencil-alt fa-lg"></i></a> |
                    <a asp-action="Delete" class="btn btn-mdb-color btn-sm"
                       asp-route-id="@item.WhardId"
                       asp-route-page="@Model.PageIndex"
                       asp-route-filter="@ViewBag.Filter"
                       asp-route-sortExpression="@ViewBag.SortExpression"><i class="fas fa-trash-alt fa-lg"></i></a>
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.WhardInumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.WhardName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.WhardOffice.OfficeName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.WhardRegion.RegionName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.WhardWcat.Wcatname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.WhardWtype.WtypeName)
                </td>
                <td>
                    <a asp-action="Edit" class="btn btn-mdb-color btn-sm"
                       asp-route-id="@item.WhardId"
                       asp-route-page="@Model.PageIndex"
                       asp-route-filter="@ViewBag.Filter"
                       asp-route-filterOffice="@ViewBag.FilterOffice"
                       asp-route-filterInv="@ViewBag.FilterInv"
                       asp-route-filterRegion="@ViewBag.FilterRegion"
                       asp-route-filterName="@ViewBag.FilterName"
                       asp-route-filterCat="@ViewBag.FilterCat"
                       asp-route-filterType="@ViewBag.FilterType"
                       asp-route-sortExpression="@ViewBag.SortExpression"><i class="fas fa-pencil-alt fa-lg"></i></a> |
                    <a asp-action="Delete" class="btn btn-mdb-color btn-sm"
                       asp-route-id="@item.WhardId"
                       asp-route-page="@Model.PageIndex"
                       asp-route-filter="@ViewBag.Filter"
                       asp-route-filterOffice="@ViewBag.FilterOffice"
                       asp-route-filterInv="@ViewBag.FilterInv"
                       asp-route-filterRegion="@ViewBag.FilterRegion"
                       asp-route-filterName="@ViewBag.FilterName"
                       asp-route-filterCat="@ViewBag.FilterCat"
                       asp-route-filterType="@ViewBag.FilterType"
                       asp-route-sortExpression="@ViewBag.SortExpression"><i class="fas fa-trash-alt fa-lg"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>

<nav>
    <partial name="_PagerPartial" />
</nav>
